<!DOCTYPE html>
<html class="size" style="font-size: 23.4375px;"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<title>MNS</title>
		<link href="__STATICindex__/css/app.css" rel="stylesheet">
		<script src="__STATICindex__/js/jquery-1.js"></script>
		<script src="__STATICindex__/js/layer/layer.js"></script>
	</head>
	<body class="wallet">
		<div id="app">
			<div>
				<div class="earnings">
					<div class="header headerw">
						<a href="javascript:history.go(-1);" class="icon-left">
							<img src="__STATICindex__/img/left.png" alt="">
						</a>
						<h1>充值</h1>
					</div>
				</div>
				<div class="bad">
					<p>充币地址</p>
					<div class="d-flex align-items-center">
						<input id="copyLink" type="text" name="copyLink" style="color:#fff;width:100%;background: #20232C;padding: 10px;font-size: 0.8rem;border:1px solid #000;border-radius: 10px;" value="abschdjhhk"> 
					<button onclick="javascript:document.getElementById('copyLink').select();document.execCommand('copy');layer.msg('复制成功')" style="color:#E2BE82;width:20%;background: #20232C;padding: 3px;position:absolute;left: 70%;font-size: 0.5rem;border:1px solid #E2BE82;border-radius: 50px;">点击复制</button>
					</div>
					   
						   
				</div>
				<!-- <div class="from_box">
					<form>
						<div class="from_wrop">
							<label for="former">充币地址</label>
							<input name="" id="copyLink" value="aggvvsjgfcgfgfrksythr"  type="text">
						</div>
						<div class="subbtn"><button onclick="javascript:document.getElementById('copyLink').select();document.execCommand('copy');layer.msg('复制成功')" type="button">点击复制</button></div>
					</form>
				</div> -->
				 
			</div>
		</div>
		<script>
			$(".size").css("font-size", $("body").width() * 0.0625 + "px")
		</script>


	
</body></html>