<!DOCTYPE html>
<html class="size" style="font-size: 23.4375px;"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<title>MNS</title>
		<link href="__STATICindex__/css/app.css" rel="stylesheet">
		<script src="__STATICindex__/js/jquery-1.js"></script>
		<script src="__STATICindex__/js/layer/layer.js"></script>
	</head>
	<body class="wallet">
		<div id="app">
			<div>
				<div class="earnings">
					<div class="header headerw">
						<a href="javascript:history.go(-1);" class="icon-left">
							<img src="__STATICindex__/img/left.png" alt="">
						</a>
						<h1>复投</h1>
					</div>
				</div>
				<div class="bad">
					
					<p>请输入金额</p>
					<input type="text" placeholder="请输入金额，{$bei}的倍数" id="num">
					<p style="margin:0 5%;color:#E2BE82;font-size: 0.6rem">*可复投金额：{$money}。 &nbsp;&nbsp; 请输入{$bei}倍数</p>
					<p>请输入支付密码</p>
					<input type="password" placeholder="请输入交易密码" id="password">
			</div>
			<button class="btn" type="button" onclick="queding()">确定</button>
				 
			
			</div>
		</div>
		<script>
			$(".size").css("font-size", $("body").width() * 0.0625 + "px")
		</script>


	<script>
        queding = function(){
            var num = $("#num").val();
            var password = $("#password").val();
            if (num == ''){
                layer.msg('请填写金额');
                return false;
            }
            if (num < 0){
                layer.msg('请填写正确金额');
                return false;
            }
            if (password == ''){
                layer.msg('请输入密码');
                return false;
            }
            var load = layer.load();
            $.ajax({
                url:"{:url('index/index/futou')}",
                type:'post',
                data:{num:num,password:password},
                dataType:'json',
                success:function(res){
                    console.log(res);
                    if(res.con==1){
                        // layer.close(load);
                        layer.msg(res.message,function(){
                            window.location.reload();
                        });
                    }else{
                        layer.close(load);
                        layer.msg(res.message);
                    }
                }
            })

		}
	</script>
</body></html>