<aside>
    <div id="sidebar" class="nav-collapse " tabindex="5000" style="overflow: hidden; outline: none;"><!-- sidebar menu start-->
        <ul class="sidebar-menu">
        {$menuhtml}
            <!-- <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-book"><img style="width:10%" src="__STATIC__/admin/img/book.png" alt=""></i>
                    <span>首页</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="{:url('ffadmin/index/index')}">首页</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-book"><img style="width:10%" src="__STATIC__/admin/img/book.png" alt=""></i>
                    <span>用户管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="{:url('ffadmin/user/userlist')}">用户管理</a></li>
                    <li><a class="" href="{:url('ffadmin/user/treelist')}">团队管理</a></li>
                    <li><a class="" href="{:url('ffadmin/user/registerlist')}">添加新会员</a></li>
                    <li><a class="" href="{:url('ffadmin/user/passlist')}">会员审核</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-book"><img style="width:10%" src="__STATIC__/admin/img/book.png" alt=""></i>
                    <span>财务管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="{:url('ffadmin/money/banklist')}">财务明细管理</a></li>
                    <li><a class="" href="{:url('ffadmin/money/rechargelist')}"">账户充值</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-book"><img style="width:10%" src="__STATIC__/admin/img/book.png" alt=""></i>
                    <span>交易大厅管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li ><a class="" href="{:url('ffadmin/receive/receivelist')}">会员交易管理</a></li>
                    <li {if condition="$Request.action =='pipeilist'"} class="active" {/if}><a class="" href="{:url('ffadmin/receive/pipeilist')}">未匹配订单列表</a></li>
                    <li {if condition="$Request.action =='kuangjilist'"} class="active" {/if}><a class="" href="{:url('ffadmin/receive/kuangjilist')}">矿机设置</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-book"><img style="width:10%" src="__STATIC__/admin/img/book.png" alt=""></i>
                    <span>新闻管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="{:url('ffadmin/news/addnotice')}">添加/修改公告</a></li>
                    <li><a class="" href="{:url('ffadmin/news/noticelist')}">公告管理</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-book"><img style="width:10%" src="__STATIC__/admin/img/book.png" alt=""></i>
                    <span>系统管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="{:url('ffadmin/config/clearlist')}">清空数据</a></li>
                    <li><a class="" href="{:url('ffadmin/config/configlist')}">奖金参数配置</a></li>
                    <li><a class="" href="{:url('ffadmin/config/loglist')}"">操作日志</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:;" class="">
                    <i class="icon-book"><img style="width:10%" src="__STATIC__/admin/img/book.png" alt=""></i>
                    <span>权限管理</span>
                    <span class="arrow"></span>
                </a>
                <ul class="sub">
                    <li><a class="" href="modulelist.html">模块管理</a></li>
                    <li><a class="" href="{:url('ffadmin/admin/rolelist')}">角色管理</a></li>
                    <li><a class="" href="{:url('ffadmin/admin/adminlist')}">管理员管理</a></li>
                    <li><a class="" href="{:url('ffadmin/admin/changelist')}">修改密码</a></li>
                    <li><a class="" href="{:url('ffadmin/admin/resetlist')}">重置密码</a></li>
                </ul>
            </li> -->
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>