
<div id='hidden1'>
    <ul class="forminfo">
        <div class="col-md-3" style="margin-top: 0.5rem">
            <label>商品名:</label>
        </div>
        <div class="col-md-9" style="margin-top: 0.5rem">
            <input type="text" name="name"  style="height: 30px;width: 200"/ id="product1" value="{$data['name']}">
        </div>
        <div class="col-md-3" style="margin-top: 0.5rem">
            <label>价格:</label>
        </div>
        <div class="col-md-9" style="margin-top: 0.5rem">
            <input type="text" name="money"  style="height: 30px;width: 200"/ id="price1" value="{$data['money']}" placeholder="请填写正确的数字">
        </div>
        <div class="col-md-3" style="margin-top: 0.5rem">
            <label>寿命:</label>
        </div>
        <div class="col-md-9" style="margin-top: 0.5rem">
            <input type="text" name="lifetime"  style="height: 30px;width: 200"/ id="lifetime1" value="{$data['life_time']}" placeholder="请填写正确的数字">小时
        </div>
        <div class="col-md-3" style="margin-top: 0.5rem">
            <label>每小时产量:</label>
        </div>
        <div class="col-md-9" style="margin-top: 0.5rem">
            <input type="text" name="get_money"  style="height: 30px;width: 200"/ id="get_money1" value="{$data['get_money']}" placeholder="请填写正确的数字">
        </div>
    </ul>
</div>
